body{
	overflow-x: hidden;
	background: #fff;
}

section#banner {
	div#caption-banner {
		top: 2rem !important;
		right: 0 !important;
		left: 0 !important;
		padding: 1rem !important;

		@include media-breakpoint-only(sm) {top: 5rem !important;}
		@include media-breakpoint-up(md) {top: 10rem !important;}
		@include media-breakpoint-up(lg) {top: 14rem !important;}
		// @include media-breakpoint-only(xl) {top: 20rem !important;}

	}
}

div#section-title {
	padding: 1rem;
	h2#st-main{
		font-size: 1.5rem;
	}
	h3#st-secondary{
		font-size: 1rem;
	}
}

div.owl-dots {
	padding-bottom: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	.owl-dot {
		width: 30px;
		height: 5px;
		margin: 0 3px;
		background: #fff;

		&.active {
			background: #000;
		}
	}
}

div#list-container {
	height: 17.5rem;
	overflow: hidden;
	overflow-y: auto;
	padding: 0 1rem;

	::-webkit-scrollbar {
	    width: .25em;
	}

	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	    border-radius: 30px;
	}

	::-webkit-scrollbar-thumb {
	  background-color: #AEA8D3;
	  height: 2em;
	  border-radius: 30px;
	  outline: 0;
	}
}

div#myCard {
	overflow: hidden;
}

@include media-breakpoint-up(lg) {
	div#app {
		display: flex;
		flex-direction: column;
	}

	#card-slider-container {
		#card-slider {
			padding: 0 !important;
		}
	}

	section#banner {
		order: 1;
		-webkit-order: 1;
		-moz-order: 1;
	}
	section#info {
		order: 2;
		-webkit-order: 2;
		-moz-order: 2;
	}
	section#project {
		order: 3;
		-webkit-order: 3;
		-moz-order: 3;
		background-image: -webkit-linear-gradient(30deg, #17a2b8 45%, #10bbd6 45%);
	}
	section#campaign {
		order: 4;
		-webkit-order: 4;
		-moz-order: 4;
		background-image: -webkit-linear-gradient(150deg, #dc3545 45%, #ff263b 45%);
	}
	section#team {
		order: 5;
		-webkit-order: 5;
		-moz-order: 5;
	}
	footer {
		order: 6;
		-webkit-order: 6;
		-moz-order: 6;	
	}
}