@include media-breakpoint-down(sm) {
	h2#cb-title {
		font-size: 1.5rem;
	}
	h3#cb-desc {
		font-size: 1rem;
	}
	section#banner {
		min-height: 242px !important;
		div#img-banner {
			height: 242px !important;
		}
	}
}

body{
	overflow-x: hidden;
}

section#banner {
	min-height: 300px;
	color: #fff;
	div#img-banner {
		background-image: url('../images/main_bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 300px;
	}

	div#caption-banner {
		padding: 5rem 1rem;
	}
}