.owl-carousel:after{
	content:""; 
	display:block; 
	position:absolute; 
	width:8%; 
	top:0; 
	bottom:0; 
	left:50%; 
	margin-left:-4%; 
	pointer-events: none; 
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/aett_logo_slider.png) no-repeat center 50%; 
	background-size:100% auto;
}

.owl-item {
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
	.item{
	  opacity:0.4;
	  transition:.4s ease all;
	  margin:0 20px;
	  transform: scale(.8);
	}

	&.active .item{
	  opacity:1;
	  transform: scale(1);
	}
}