
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap/scss/bootstrap";

// Bootstrap Override
@import "bootstrapOverride";

// Off Canvas
@import "offCanvas";

//Owl Carousel Override
// @import "owlCarouselOverride";

@import "homepage";

.navbar-side {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: -50em;
  padding: 0;
  list-style: none;
  background-color: #f7f7f9;
  overflow: auto;
  z-index: 1000;

  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 1000ms ease;
  transition: 1000ms ease;

  @include media-breakpoint-up(xs) { width: 85%; } // Small
  @include media-breakpoint-up(sm) { width: 50%; } // Medium
  @include media-breakpoint-up(md) { width: 25%; } // Large
}

.navbar-side-item {
  padding: 1.5rem 0;
  margin: 0;
  height: 5rem;
}

.side-link {
  padding-left: 2rem;
}

.reveal {
  -webkit-transform: translateX(50em);
  -ms-transform: translateX(50em);
  transform: translateX(50em);
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #000;
  opacity: 0.6;
  z-index: 990;
}

.card-flip {
	.front-side {
		display: true;
	}
	.back-side {
		display: none;
	}
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #000;
  background-image: linear-gradient(to right, #ccc, #000, #ccc);
}

#footer-menu {
  background: #313131;
}

#main-footer {
  background: #101010;
}

.social-icon {
  width: 2rem !important;
  height: 2rem !important;
  padding: .5rem;
}

.fb {
  background: #3b5999;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.g-plus {
  background: #dd4b39;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.youtube {
  background: #cd201f;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.ig {
  background: #cd486b;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}


@include media-breakpoint-up(lg) {
  // nav.navbar {
  //   padding: 0.5rem 2rem !important;
  // }

  div#navbarSearch {
    border-left: 2px solid #eee;
    input[type="text"] {
      border: none;
      background: transparent;
    }
  }
}